@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

li {
  will-change: transform;
  height: 50px;
}

.shrink {
  height: 80px;
}

.expand {
  height: 180px;
}

.text {
  position: relative;
  top: 10px;
  animation: appear;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: both;
  opacity: 0;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
